<?php
/**
 * @var \Terenbro\HelloTerenbro\Block\Terenbro $block
 */
?>
<p>1</p>
<span>Hello Terenbro</span>
<p>2</p>
<p>
    <?=  $block->outputHelloTerenbro() ?>
</p>
<p>3</p>
<?php $viewModel = $this->getData('view_model') ?>
<?php $view = $block->getViewModel();?>
<p>4</p>
<?= $view->iAmViewModel() ?>
<p>5</p>
<br>
<?= $viewModel->iAmViewModel() ?>



<?php

echo '<h2 style="color:red">Calling a CMS block in a PHTML file. Using the "createBlock" method.</h2>';

/**
 * Using the "createBlock" method is fast, but not ideal for best practices.
 * The best usage is shown below, using an XML descriptor.
 */
echo $this->getLayout()
    ->createBlock(\Magento\Cms\Block\Block::class)
    ->setBlockId('terenbro-static-block') //replace my_cmsblock_identifier with real CMS bock identifier
    ->toHtml();

echo '<h2 style="color:#ff0000">Calling a CMS block in a PHTML file. The best practice is to use an XML descriptor.</h2>';

/**
 * The best usage is shown below, using an XML descriptor.
 */
$block->getChildHtml('my-main-phtml-block')

?>
