<?php
/**
 * @var \Terenbro\HelloTerenbro\ViewModel\OneOne $viewModel
 */
?>

<?php
/**
 * @var \Terenbro\HelloTerenbro\Block\Terenbro $block
 */

echo $block->outputHelloTerenbro();
?>

<p>Hello Terenbro</p>

<p>
    <?=  $block->outputHelloTerenbro(); ?>
</p>

<?php $viewModel = $this->getData('view_model') ?>
<?php $view = $block->getViewModel();?>

<?= $view->iAmViewModel() ?>
    <br>
<?= $viewModel->iAmViewModel() ?>
<br><br>

<?php //$viewModel->saveNewMember('Igor Bezeka', '33', 'Chief Executive Officer at Terenbro', 'He is a cool guy') ?>
<?php //$viewModel->saveNewMember('Denys Fesenko', '25', 'Full Stack Magento 2 Developer', 'He is a cool guy') ?>
<?php //$viewModel->saveNewMember('Lena Volinskaya', '20', 'Junior QA Engineer Manual', 'She is a cool girl') ?>
<?php //$viewModel->saveNewMember('Hennadii Vasyliev', '40', 'Junior Magento 2 Developer', 'He is a cool guy') ?>

<?php //var_dump($viewModel->getAllMembers()) ?>


<!-- Displaying the elements of the team_terenbro table -->
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Заголовок</th>
            <th>Комментарии</th>
            <th>Создано</th>
            <th>Обновлено</th>
        </tr>
    </thead>
    <tbody>
<!--        --><?php //foreach ($viewModel->getAllMembers() as $member): ?>
        <tr>
            <td><?//= $member->getData('id')?></td>
            <td><?//= $member->getData('name')?></td>
            <td><?//= $member->getData('age')?></td>
            <td><?//= $member->getData('heading')?></td>
            <td><?//= $member->getData('comment')?></td>
            <td><?//= $member->getData('created_at')?></td>
            <td><?//= $member->getData('updated_at')?></td>
        </tr>
<!--        --><?php //endforeach;?>
    </tbody>
</table>
<!-- Displaying the elements of the team_terenbro table -->

<br>
<?= $viewModel->getText('Hello', 'Bonjour') ?>
<br>

<?php $memberId = 4; ?>
<!-- name output by id -->
<h3><?= $viewModel->getMemberName($memberId) ?></h3>

<!-- age output by id -->
<h3><?= $view->getMemberAge($memberId) ?></h3>



